.topnav {
        background-color: #fff0f5;
        overflow: hidden;
    }
    
    .topnav a {
        float: left;
        color: #000000;
        text-align: right;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
    }


/* Change the link color to #D8BFD8 (Thistle) on hover */
    
    .topnav a:hover {
        background-color: #D8BFD8;
        color: black
    }


img {
    width: 100%;
    height: auto;
}

.responsive {
    width: 100%;
    height:auto;
}


*{
    box-sizing: border-box;
}



body {
    background-color: white;
    padding: 20px;
    font-family: Avenir; 
}


.main {
    max-width: 1000px;
    margin: auto;
}


h1 {
    font-size: 60px;
    word-break: break-all;
}


.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 10px;
}

.column {
    float: left;
    width: 25%;
    flex: 30%;
    padding: 0 4px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: white;
    padding: 10px;
    width: auto;
    position: relative;
    margin-top: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


@media screen and (max-width: 900px) {
    .column {
        width: 50%
    }
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%
    }
}


/* split the screen in half */
.split {
    height: 40%;
    width: 40%;
    position:absolute;
    z-index: 4;
    top: 5;
    overflow-x: inherit;
    padding-top: 4;      
}
/* control the left side */
.left {
    left: 5;
    background-color: white;
}
/* control the right side */
.right {
    right: 0;
    background-color: white
}
.centered {
    position: relative;
    top: auto;
    left:-40%;
    transform: translate (-30%, -70%);
    text-align: center;
}
.centered img {
    width: 700px;
}

.confirmation {
    text-align: left;
    font-size: 50px;
}